<section class="produts">
    <div class="container my-6 px-12 flex flex-col sm:flex-row justify-between items-center">
        <h2
          class="text-3xl font-bold text-center sm:text-left my-2 text-[#0aad0a] border-b-4 border-[#0aad0a] pb-2">
          Our Products
        </h2>
      
        <div class="w-full sm:w-[40%] mt-4 sm:mt-0 mx-0">
          <label for="default-search"
            class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Search</label>
          <div class="relative">
            <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
              <svg class="w-4 h-4 text-[#0aad0a]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                fill="none" viewBox="0 0 20 20">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                  stroke-width="2"
                  d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
              </svg>
            </div>
            <input [(ngModel)]="text" type="search" id="default-search"
              class="block w-full p-4 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-[#0aad0a] focus:border-[#0aad0a] cursor-pointer"
              placeholder="Search Products" required />
            <button type="submit"
              class="text-white absolute end-2.5 bottom-2.5 bg-[#0aad0a] hover:bg-green-700 focus:ring-4 focus:outline-none font-medium rounded-lg text-sm px-4 py-2 cursor-pointer transition-all duration-300">
              Search
            </button>
          </div>
        </div>
      </div>
      
            

    <div class="container mx-0 sm:mx-auto p-6 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5 xl:grid-cols-6 gap-3 sm:gap-6">
        @for (product of productList | paginate: { id: 'foo',itemsPerPage: pageSize,currentPage: p,totalItems: total } | search: text ; track $index) {
        <app-card [product]="product"></app-card>
        }
    </div>

    <div class="flex justify-center mt-3">
        <pagination-controls class="my-pagination" id="foo"(pageChange)="getAllProductsData($event)"></pagination-controls>
    </div>
</section>