<section class="pt-6">
  <owl-carousel-o [options]="customOptions" class="w-full">
    <ng-template carouselSlide>
      <img src="/images/img1.avif" alt="slide 1"
           class="w-full h-[200px] sm:h-[300px] md:h-[400px] xl:h-[400px] object-cover shadow-md transition-transform duration-500 hover:scale-105" />
    </ng-template>  
    <ng-template carouselSlide>
      <img src="/images/img2.avif" alt="slide 2"
           class="w-full h-[200px] sm:h-[300px] md:h-[400px] xl:h-[400px] object-cover shadow-md transition-transform duration-500 hover:scale-105" />
    </ng-template>  
    <ng-template carouselSlide>
      <img src="/images/img3.avif" alt="slide 3"
           class="w-full h-[200px] sm:h-[300px] md:h-[400px] xl:h-[400px] object-cover shadow-md transition-transform duration-500 hover:scale-105" />
    </ng-template>  
    <ng-template carouselSlide>
      <img src="/images/img4.avif" alt="slide 4"
           class="w-full h-[200px] sm:h-[300px] md:h-[400px] xl:h-[400px] object-cover shadow-md transition-transform duration-500 hover:scale-105" />
    </ng-template>  
    <ng-template carouselSlide>
      <img src="/images/img5.avif" alt="slide 5"
           class="w-full h-[200px] sm:h-[300px] md:h-[400px] xl:h-[400px] object-cover shadow-md transition-transform duration-500 hover:scale-105" />
    </ng-template>  
    <ng-template carouselSlide>
      <img src="/images/img6.avif" alt="slide 6"
           class="w-full h-[200px] sm:h-[300px] md:h-[400px] xl:h-[400px] object-cover shadow-md transition-transform duration-500 hover:scale-105" />
    </ng-template>  
    <ng-template carouselSlide>
      <img src="/images/img7.avif" alt="slide 7"
           class="w-full h-[200px] sm:h-[300px] md:h-[400px] xl:h-[400px] object-cover shadow-md transition-transform duration-500 hover:scale-105" />
    </ng-template>  
  </owl-carousel-o>
</section>
