<div class="px-4">

    <!-- Main Slider -->
    <section class="pt-6">
      <app-main-slider class="w-full block"></app-main-slider>
    </section>
  
    <!-- Popular Categories -->
    <section class="pt-10">
      <app-popular-categories class="w-full block"></app-popular-categories>
    </section>
  
    <!-- Popular Products -->
    <section class="pt-10 pb-6">
      <h2 class="text-2xl sm:text-3xl font-bold mb-6 text-center sm:text-left">Popular Products</h2>
      <app-popular-products class="w-full block"></app-popular-products>
    </section>
  
  </div>  